name: Servidor de Pruebas

on: push

jobs:
    first-jobs:
        runs-on: ubuntu-latest
        steps:
            - name: Hola Mundo
              run: echo "¡Hola, mundo!"
    
    second-jobs:
        steps:
            - name: Hola Mundo 2
              run: echo "¡Hola, mundo 2!"